#count {
  font-size: 30px;
}
input{
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#click {
}

#hidden {
  position:relative;
  left:600px;
  top:250px;
}

.click {
  background-color: green;
}

.reset {
  background-color: red;
  padding: 15px 69px;
}